app = "tesla-vehicle-command"
primary_region = "ams"

kill_signal = "SIGINT"
kill_timeout = "5s"

[build]
  dockerfile = "Dockerfile"

[env]
  TESLA_HTTP_PROXY_HOST = "0.0.0.0"
  TESLA_HTTP_PROXY_PORT = "8443"

[[services]]
  internal_port = 8443
  protocol = "tcp"

  [[services.ports]]
    port = 443
    handlers = []       # <-- IMPORTANTISSIMO: niente TLS su Fly, passa tutto al container

  [[services.tcp_checks]]
    interval = "10s"
    timeout = "2s"
